@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

$pirmaryTextColor:#0C2D57;
$bg-primary:#FC6736;
$bg-ad:#EFECEC;
$fontPoppin:'Poppins';
$textSecondary:white;
$textLink:#000000;
